@{
    ViewData["Title"] = "Home Page";
}
<div id="one" class="text-center">
    <p  class="accordion-button" style="border:solid 3px;background-image: url(https://thumbs.dreamstime.com/b/collection-food-drink-background-collage-healthy-eating-f-collection-food-drink-background-collage-healthy-eating-116187195.jpg)"> <a class="accordion-button-link" href="https://localhost:7243/ProductModels">Products</a></p>
    <p  class="accordion-button" style="border:solid 3px;background-image: url(https://media.sproutsocial.com/uploads/2020/01/review-guide-listicle.svg)"> <a class ="accordion-button-link" href="https://localhost:7243/ReviewModels">Make A Review Here</a></p>
</div>
